version: '3'
services:
    purlovia:
        image: coldino/purlovia:live

        container_name: purlovia_runner
        hostname: purlovia_runner
        
        env_file: ./.env

        volumes:
          - ./livedata:/app/livedata:delegated
          - ./logs:/app/logs:delegated
          - ./output:/app/output
          - ./id_rsa-raptor:/app/config/id_rsa-raptor:ro

        command:
            python -m automate sanity,asb,wiki --live
