[Unit]
Description=Run Purlovia every day
Requires=purlovia-runner.service

[Timer]
Unit=purlovia-runner.service
OnCalendar=*-*-* 20:00:00
Persistent=true

[Install]
WantedBy=timers.target
