[Unit]
Description=Run Purlovia every day

[Timer]
Unit=purlovia-runner.service
OnCalendar=2..22:2/14:14
Persistent=true

[Install]
WantedBy=timers.target
