[Unit]
Description=Run Purlovia regularly

[Timer]
Unit=purlovia-runner.service
# every 17 minutes, offset by 3, from the hours of 2-22 (to avoid Steam update times)
OnCalendar=2..22:3..59/17
Persistent=true

[Install]
WantedBy=timers.target
